.clearence {
    border-color: 2px solid green;
    background-color: rgba(144, 238, 144, 0.658);
}
.cant {
    width: 150%;
}    
td {
    vertical-align: middle;
}

.container-products {
    background-color: rgba(178, 221, 221, 0.678);
}