
<h1>Listado de Productos</h1>

<table class = "table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Descipción</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
            <th class="cant">Cant</th>

            <th></th>
        </tr>
    </thead>
        <tbody class="container-products">
        @for (product of products; track product.description) {            
            <tr [ngClass]="{'clearence':product.clearance}">
              <td><img width="60" class="img-thumbnail" [src]="product.image" [alt]="product.description"></td>
              <td>{{product.description | uppercase}}</td>
              <td>{{product.mark}}</td>
              <td>{{product.price | currency}}</td>
              @if (product.stock > 0) {
                <td>{{product.stock}}</td>
              }@else {
                <td>0</td>
              }
              @if (product.stock > 0) {
                <td>
                  <app-input-integer [(quantity)]="product.quantity" [max]="product.stock" (maxReached)="maxReached($event)"></app-input-integer>
                </td>
                <td>
                  <button class="btn btn-primary" (click)="addToCart(product)">Comprar</button>
                </td>
              }@else {
                <td class="badge bg-warning">SIN STOCK</td>
                <td></td>
              }
              
            </tr>
          }
          @empty {
            <tr>
              <td colspan="4">No Hay Productos para mostrar</td>
            </tr>
          }
        </tbody>
</table>
